<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645872254764-9jgjei7k4qakou1bhb1bpv1ciniqbdls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645872254764-9jgjei7k4qakou1bhb1bpv1ciniqbdls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645872254764-6nkoodc87gqeq7ctn1nbu2vhlbss9gko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwmHM8baIHrTSsL12GBuKWpovTzHRk6eU</string>
	<key>GCM_SENDER_ID</key>
	<string>645872254764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.un.oict.beta.RideShare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645872254764:ios:4286471de14ad1cb8a7689</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-mobile-app.firebaseio.com</string>
</dict>
</plist>